<h1>Exchanges</h1>
<h2>Add importer</h2>
<p-dropdown [options]="availableExchanges" [(ngModel)]="selectedAvailableExchange" (onChange)="exchangeChanged()"></p-dropdown>

<div *ngIf="showForm">
    <!--<div [hidden]="selectedAvailableExchange == null">-->

    <div class="panel panel-default">
        <div class="panel-heading">{{selectedAvailableExchange.name}}</div>
        <div class="panel-body">

            <div class="form-group">
                <label for="publicKey">{{selectedAvailableExchange.labelPublicKey}}</label>
                <input type="text" class="form-control" id="publicKey" placeholder="{{selectedAvailableExchange.labelPublicKey}}" [(ngModel)]="publicKey">
            </div>

            <div class="form-group">
                <label for="privateKey">{{selectedAvailableExchange.labelPrivateKey}}</label>
                <input type="text" class="form-control" id="privateKey" placeholder="{{selectedAvailableExchange.labelPrivateKey}}" [(ngModel)]="privateKey">
            </div>

            <div class="form-group">
                <label for="comment">Comment</label>
                <input type="text" class="form-control" id="comment" placeholder="Comment" [(ngModel)]="comment">
            </div>

            <button pButton type="button" label="Add" (click)="addExchange()"></button>


        </div>
    </div>
</div>

<br />
<br />
<br />
<p-confirmDialog></p-confirmDialog>

<p-dataTable [value]="ownExchanges">
    <p-column field="exchangeName" header="Exchange"></p-column>
    <p-column field="comment" header="Comment"></p-column>
    <p-column styleClass="col-button" header="Remove" [style]="{'width': '80px'}">
        <ng-template let-exchange="rowData" pTemplate="body">
            <button type="button" pButton (click)="remove(exchange)" icon="fa-trash"></button>
        </ng-template>
    </p-column>
</p-dataTable>