<h1>Exchanges</h1>
<h5>Add importer</h5>
<p-dropdown [options]="availableExchanges" [(ngModel)]="selectedAvailableExchange" (onChange)="exchangeChanged()"></p-dropdown>

<div class="p-grid p-fluid" *ngIf="showForm">
           
    <div class="p-col-12 p-md-4" *ngIf="selectedAvailableExchange.labelPublicKey != null">
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon">{{selectedAvailableExchange.labelPublicKey}}</span>
            <input type="text" pInputText [(ngModel)]="publicKey">      
        </div>
    </div>

    <div class="p-col-12 p-md-4" *ngIf="selectedAvailableExchange.labelPrivateKey != null">
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon">{{selectedAvailableExchange.labelPrivateKey}}</span>
            <input type="text" pInputText [(ngModel)]="privateKey">      
        </div>
    </div>

    <div class="p-col-12 p-md-4" *ngIf="selectedAvailableExchange.labelPassphrase != null">
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon">{{selectedAvailableExchange.labelPassphrase}}</span>
            <input type="text" pInputText [(ngModel)]="passphrase">      
        </div>
    </div>

    <div class="p-col-12 p-md-4">
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon">Comment</span>
            <input type="text" pInputText [(ngModel)]="comment">      
        </div>
    </div>

    <button pButton type="button" label="Add" (click)="addExchange()"></button>
</div>



<!-- <p-confirmDialog></p-confirmDialog>

<p-dataTable [value]="ownExchanges">
    <p-column field="exchangeName" header="Exchange"></p-column>
    <p-column field="comment" header="Comment"></p-column>
    <p-column styleClass="col-button" header="Update" [style]="{'width': '88px'}">
        <ng-template let-exchange="rowData" pTemplate="body">
            <button type="button" pButton (click)="update(exchange)" label="Update"></button>
        </ng-template>
    </p-column>
    <p-column styleClass="col-button" header="Remove" [style]="{'width': '80px'}">
        <ng-template let-exchange="rowData" pTemplate="body">
            <button type="button" pButton (click)="remove(exchange)" icon="fa-trash"></button>
        </ng-template>
    </p-column>
</p-dataTable> -->